@use 'sass:math';

$global-font-size-base: 16;

$color-dark-blue: #06111f;
$color-black: #000000;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-white: #ffffff;
$color-border-transparent: rgba(255, 255, 255, 0.2);

// Typography
$text-font-family: 'Quattro News', Arial;

$text-tertiary: (
    size: (
        large: #{math.div(23, $global-font-size-base)}rem,
        small: #{math.div(18, $global-font-size-base)}rem,
    ),
    height: (
        large: #{math.div(32, 23)},
        small: #{math.div(24, 18)},
    ),
);

$text-primary: (
    size: (
        large: #{math.div(16, $global-font-size-base)}rem,
        small: #{math.div(16, $global-font-size-base)}rem,
    ),
    height: (
        large: #{math.div(24, 16)},
        small: #{math.div(24, 16)},
    ),
);

$text-small: (
    size: (
        large: #{math.div(13, $global-font-size-base)}rem,
        small: #{math.div(13, $global-font-size-base)}rem,
    ),
    height: (
        large: #{math.div(20, 13)},
        small: #{math.div(20, 13)},
    ),
);

$container-width: 1280;
