@import './styles/variables.scss';
@import './styles/functions.scss';

:root {
    --color-primary: #{$color-dark-blue};
    --color-text: #{$color-white};
    --color-black: #{$color-black};
    --color-black-transparent: #{$color-black-transparent};
    --color-border-transparent: #{$color-border-transparent};

    --color-video-bg: var(--color-black);
    --color-background: var(--color-primary);
}

html {
    font-size: #{$global-font-size-base}px;
    font-family: #{$text-font-family};
}

body {
    margin: 0;
    height: 100%;
    color: var(--color-text);
    background-color: var(--color-background);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
